<a href="https://colab.research.google.com/github/JonNData/SQL/blob/master/leet_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

## 58. Length of Last Word
Given a string s consists of upper/lower-case alphabets and empty space characters ' ', return the length of last word (last word means the last appearing word if we loop from left to right) in the string.

If the last word does not exist, return 0.

In [ ]:
class Solution:
    def lengthOfLastWord(self, s: str) -> int:
        x =  s.split(" ")[::-1]
        for split in x:
            if split.isalpha():
                return len(split)
        return 0

## 1395. Count Number of Teams
There are n soldiers standing in a line. Each soldier is assigned a unique rating value.

You have to form a team of 3 soldiers amongst them under the following rules:

Choose 3 soldiers with index (i, j, k) with rating (rating[i], rating[j], rating[k]).
A team is valid if:  (rating[i] < rating[j] < rating[k]) or (rating[i] > rating[j] > rating[k]) where (0 <= i < j < k < n).
Return the number of teams you can form given the conditions. (soldiers can be part of multiple teams).

In [ ]:
class Solution:
    def numTeams(self, rating: List[int]) -> int:
        def get_all_poss_teams():
            possible_teams = list()
            for i, soldier_1 in enumerate(rating[:-2]):
                for j, soldier_2 in enumerate(rating[i+1:]):
                    for soldier_3 in rating[i+j+2:]:
                        possible_teams.append([soldier_1,soldier_2,soldier_3])
            return possible_teams
        def validate_poss_teams(possible_teams):
            valid_teams = 0
            for team in possible_teams:
                team_order, team_reverse = team.copy(), team.copy()
                team_order.sort()
                team_reverse.sort(reverse=True)
                if team_order == team or team_reverse == team:
                    valid_teams += 1
            return valid_teams
        possible_teams = get_all_poss_teams()
        return validate_poss_teams(possible_teams)

## 1282. Group the People Given the Group Size They Belong To

There are n people that are split into some unknown number of groups. Each person is labeled with a unique ID from 0 to n - 1.

You are given an integer array groupSizes, where groupSizes[i] is the size of the group that person i is in. For example, if groupSizes[1] = 3, then person 1 must be in a group of size 3.

Return a list of groups such that each person i is in a group of size groupSizes[i].

Each person should appear in exactly one group, and every person must be in a group. If there are multiple answers, return any of them. It is guaranteed that there will be at least one valid solution for the given input.

In [ ]:
class Solution:
    def groupThePeople(self, groupSizes: List[int]) -> List[List[int]]:
        # Enumerate group
        dictionary = {}
        end_groups = []
        for idx, value in enumerate(groupSizes):
            if value in dictionary:
                dictionary[value].append(idx)
            else:
                dictionary[value] = [idx]
            if len(dictionary[value]) == value:
                end_groups.append(dictionary[value])
                dictionary[value] = []
                
        return end_groups

## 1476. Subrectangle Queries
Implement the class SubrectangleQueries which receives a rows x cols rectangle as a matrix of integers in the constructor and supports two methods:

1. updateSubrectangle(int row1, int col1, int row2, int col2, int newValue)

Updates all values with newValue in the subrectangle whose upper left coordinate is (row1,col1) and bottom right coordinate is (row2,col2).
2. getValue(int row, int col)

Returns the current value of the coordinate (row,col) from the rectangle.

In [ ]:
class SubrectangleQueries:

    def __init__(self, rectangle: List[List[int]]):
        self.rectangle = rectangle

    def updateSubrectangle(self, row1: int, col1: int, row2: int, col2: int, newValue: int) -> None:
        # index into rectangle and change all values in subrectangle
        # gonna have to loop through it
        for row in range(len(self.rectangle)):
            if row >= row1 and row <= row2:
                for col in range(len(self.rectangle[0])):
                    if col >= col1 and col <= col2:
                        self.rectangle[row][col] = newValue

    def getValue(self, row: int, col: int) -> int:
        return self.rectangle[row][col]


# Your SubrectangleQueries object will be instantiated and called as such:
# obj = SubrectangleQueries(rectangle)
# obj.updateSubrectangle(row1,col1,row2,col2,newValue)
# param_2 = obj.getValue(row,col)

# Can be done much better in numpy

import numpy as np

class SubrectangleQueries:

    def __init__(self, rectangle: List[List[int]]):
        self.rectangle=np.array(rectangle, dtype='int64')

    def updateSubrectangle(self, row1: int, col1: int, row2: int, col2: int, newValue: int) -> None:
        self.rectangle[row1:row2+1, col1:col2+1] = newValue

    def getValue(self, row: int, col: int) -> int:
        return self.rectangle[row, col]

## 463. Island Perimeter

In [ ]:
class Solution:
    def is_adjacent(self, grid, row, col):
        """number of 1s adjacent"""
        counter = 0
        
        if col > 0:
            if grid[row][col-1] == 1:
                counter += 1
        if col < len(grid[0]) - 1:
            if grid[row][col+1] == 1:
                counter += 1
        if row > 0:
            if grid[row-1][col] == 1:
                counter += 1
        if row < len(grid)-1:
            if grid[row+1][col] == 1:
                counter += 1
        return counter
    
    def islandPerimeter(self, grid: List[List[int]]) -> int:
        # need to compare all cardinal directions
        # Focus on the 1s, add to counter based on how many adjacent
        perimeter = 0
        for row_idx, row in enumerate(grid):
            for index, value in enumerate(row):
                if value == 1:
                    adjust = 4 - self.is_adjacent(grid, row_idx, index) # return how many 1s are adjacent
                    perimeter += adjust
        return perimeter

# Big O(N)

##49. Group Anagrams
Given an array of strings strs, group the anagrams together. You can return the answer in any order.

An Anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

 

Example 1:

Input: strs = ["eat","tea","tan","ate","nat","bat"]
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]

In [ ]:
from collections import defaultdict

class Solution:
    def groupAnagrams(self, strs: List[str]) -> List[List[str]]:
        anagram_map = defaultdict(list)
        for word in strs:
            sorted_word = "".join(sorted(word))
            anagram_map[sorted_word].append(word)
        return list(anagram_map.values())

# for every word in array, key is sorted anagram, value is original words

# Database

620. Not Boring Movies

X city opened a new cinema, many people would like to go to this cinema. The cinema also gives out a poster indicating the movies’ ratings and descriptions.
Please write a SQL query to output movies with an odd numbered ID and a description that is not 'boring'. Order the result by rating.


```
SELECT * 
FROM cinema
WHERE MOD(id, 2)=1
AND description NOT LIKE '%boring%'
ORDER BY rating DESC;
```

595. Big Countries

SQL Schema
There is a table World

+-----------------+------------+------------+--------------+---------------+
| name            | continent  | area       | population   | gdp           |
+-----------------+------------+------------+--------------+---------------+
| Afghanistan     | Asia       | 652230     | 25500100     | 20343000      |
| Albania         | Europe     | 28748      | 2831741      | 12960000      |
| Algeria         | Africa     | 2381741    | 37100000     | 188681000     |
| Andorra         | Europe     | 468        | 78115        | 3712000       |
| Angola          | Africa     | 1246700    | 20609294     | 100990000     |
+-----------------+------------+------------+--------------+---------------+
A country is big if it has an area of bigger than 3 million square km or a population of more than 25 million.

Write a SQL solution to output big countries' name, population and area.

For example, according to the above table, we should output:



```
SELECT name, population, area
FROM World
where area > 3000000 OR population > 25000000
```

596. Classes More Than 5 Students

There is a table courses with columns: student and class

Please list out all classes which have more than or equal to 5 students.

For example, the table:

+---------+------------+
| student | class      |
+---------+------------+
| A       | Math       |
| B       | English    |
| C       | Math       |
| D       | Biology    |
| E       | Math       |
| F       | Computer   |
| G       | Math       |
| H       | Math       |
| I       | Math       |
+---------+------------+
Should output:

+---------+
| class   |
+---------+
| Math    |
+---------+



```
# Write your MySQL query statement below
Select class
from courses
group by class
having count(DISTINCT(student)) >= 5
```
The difference between the having and where clause in SQL is that the where clause cannot be used with aggregates, but the having clause can.
The where clause works on row’s data, not on aggregated data.

627. Swap Salary
Given a table salary, such as the one below, that has m=male and f=female values. Swap all f and m values (i.e., change all f values to m and vice versa) with a single update statement and no intermediate temp table.

Note that you must write a single update statement, DO NOT write any select statement for this problem.


```
UPDATE salary
SET
    sex = CASE sex
    WHEN 'f'
    THEN 'm'
    ELSE 'f'
END
```

197. Rising Temperature 

```
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
```


id is the primary key for this table.
This table contains information about the temperature in a certain day.
 

Write an SQL query to find all dates' id with higher temperature compared to its previous dates (yesterday).

Return the result table in any order.



```
SELECT w1.id
FROM Weather w1, Weather w2
WHERE DATEDIFF(w1.recordDate, w2.recordDate) = 1 
AND w1.Temperature > w2.Temperature;
```
DATEDIFF subtracts the second date from the first