<a href="https://colab.research.google.com/github/JonNData/SQL/blob/master/Nguyen_Winter_2021_Data_Science_Intern_Challenge_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Question 1: Given some sample data, write a program to answer the following:
[click here to access the required data set](https://docs.google.com/spreadsheets/d/16i38oonuX1y1g7C_UAmiK9GkY7cS-64DfiDMNiR41LM/edit#gid=0)

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 
What metric would you report for this dataset?
What is its value?

In [11]:
# First I'll import the google sheet directly into colab

from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [13]:
wb = gc.open_by_url(
    'https://docs.google.com/spreadsheets/d/16i38oonuX1y1g7C_UAmiK9GkY7cS-64DfiDMNiR41LM/edit#gid=0')

data = wb.sheet1.get_all_values()
data

[['order_id',
  'shop_id',
  'user_id',
  'order_amount',
  'total_items',
  'payment_method',
  'created_at'],
 ['1', '53', '746', '224', '2', 'cash', '2017-03-13 12:36:56'],
 ['2', '92', '925', '90', '1', 'cash', '2017-03-03 17:38:52'],
 ['3', '44', '861', '144', '1', 'cash', '2017-03-14 4:23:56'],
 ['4', '18', '935', '156', '1', 'credit_card', '2017-03-26 12:43:37'],
 ['5', '18', '883', '156', '1', 'credit_card', '2017-03-01 4:35:11'],
 ['6', '58', '882', '138', '1', 'credit_card', '2017-03-14 15:25:01'],
 ['7', '87', '915', '149', '1', 'cash', '2017-03-01 21:37:57'],
 ['8', '22', '761', '292', '2', 'cash', '2017-03-08 2:05:38'],
 ['9', '64', '914', '266', '2', 'debit', '2017-03-17 20:56:50'],
 ['10', '52', '788', '146', '1', 'credit_card', '2017-03-30 21:08:26'],
 ['11', '66', '848', '322', '2', 'credit_card', '2017-03-26 23:36:40'],
 ['12', '40', '983', '322', '2', 'debit', '2017-03-12 17:58:30'],
 ['13', '54', '799', '266', '2', 'credit_card', '2017-03-16 14:15:34'],
 ['14', '100', '709', '111', '1', 'cash', '2017-03-22 2:39:49'],
 ['15', '87', '849', '447', '3', 'credit_card', '2017-03-10 11:23:18'],
 ['16', '42', '607', '704000', '2000', 'credit_card', '2017-03-07 4:00:00'],
 ['17', '17', '731', '176', '1', 'cash', '2017-03-21 4:23:38'],
 ['18', '28', '752', '164', '1', 'credit_card', '2017-03-21 12:09:07'],
 ['19', '83', '761', '258', '2', 'cash', '2017-03-17 13:18:47'],
 ['20', '63', '898', '408', '3', 'credit_card', '2017-03-29 15:11:52'],
 ['21', '66', '987', '322', '2', 'cash', '2017-03-30 20:11:59'],
 ['22', '97', '789', '486', '3', 'credit_card', '2017-03-04 15:44:00'],
 ['23', '88', '985', '704', '4', 'credit_card', '2017-03-22 1:19:41'],
 ['24', '75', '964', '256', '2', 'credit_card', '2017-03-12 3:07:42'],
 ['25', '73', '917', '495', '3', 'cash', '2017-03-03 13:01:03'],
 ['26', '82', '848', '177', '1', 'cash', '2017-03-25 21:35:12'],
 ['27', '47', '882', '145', '1', 'cash', '2017-03-22 7:38:43'],
 ['28', '53', '942', '112', '1', 'credit_card', '2017-03-17 9:41:53'],
 ['29', '40', '944', '322', '2', 'cash', '2017-03-05 2:12:53'],
 ['30', '59', '790', '178', '1', 'credit_card', '2017-03-04 22:49:28'],
 ['31', '76', '857', '310', '2', 'cash', '2017-03-23 21:34:39'],
 ['32', '57', '839', '294', '2', 'debit', '2017-03-19 5:31:45'],
 ['33', '76', '712', '465', '3', 'credit_card', '2017-03-10 23:54:10'],
 ['34', '7', '800', '224', '2', 'credit_card', '2017-03-03 5:31:15'],
 ['35', '34', '704', '244', '2', 'debit', '2017-03-13 0:00:44'],
 ['36', '61', '781', '316', '2', 'cash', '2017-03-08 15:57:42'],
 ['37', '84', '979', '459', '3', 'credit_card', '2017-03-05 22:44:34'],
 ['38', '66', '961', '322', '2', 'credit_card', '2017-03-14 6:04:23'],
 ['39', '10', '921', '148', '1', 'credit_card', '2017-03-06 5:51:08'],
 ['40', '61', '756', '316', '2', 'credit_card', '2017-03-07 17:03:29'],
 ['41', '42', '793', '352', '1', 'credit_card', '2017-03-24 14:15:41'],
 ['42', '1', '847', '316', '2', 'debit', '2017-03-20 14:58:02'],
 ['43', '18', '934', '624', '4', 'debit', '2017-03-21 6:59:10'],
 ['44', '21', '792', '284', '2', 'credit_card', '2017-03-08 4:16:53'],
 ['45', '99', '759', '195', '1', 'credit_card', '2017-03-02 8:13:24'],
 ['46', '29', '969', '652', '4', 'credit_card', '2017-03-04 8:58:23'],
 ['47', '33', '954', '346', '2', 'cash', '2017-03-25 14:18:33'],
 ['48', '52', '791', '438', '3', 'cash', '2017-03-05 15:50:51'],
 ['49', '3', '714', '296', '2', 'debit', '2017-03-20 16:48:03'],
 ['50', '64', '768', '399', '3', 'debit', '2017-03-02 17:26:07'],
 ['51', '58', '984', '276', '2', 'debit', '2017-03-23 7:05:31'],
 ['52', '81', '959', '531', '3', 'cash', '2017-03-25 22:58:11'],
 ['53', '30', '968', '459', '3', 'cash', '2017-03-28 8:15:20'],
 ['54', '33', '842', '692', '4', 'debit', '2017-03-08 7:36:34'],
 ['55', '79', '823', '181', '1', 'cash', '2017-03-25 4:47:17'],
 ['56', '51', '851', '561', '3', 'credit_card', '2017-03-13 5:05:25'],
 ['57', '53', '739', '560', '5', 'credit_card', '2017-03-18 8:45:21'],
 ['58', '51', '759', '187', '1', 'cash', '2017-03-30 22:34:47'],
 ['59', '47', '837', '145', '1', 'credit_card', '2017-03-13 6:35:07'],
 ['60', '80', '908', '145', '1', 'debit', '2017-03-27 9:03:35'],
 ['61', '42', '607', '704000', '2000', 'credit_card', '2017-03-04 4:00:00'],
 ['62', '60', '720', '531', '3', 'debit', '2017-03-21 18:08:34'],
 ['63', '86', '981', '260', '2', 'debit', '2017-03-24 6:11:03'],
 ['64', '91', '962', '160', '1', 'debit', '2017-03-01 19:05:37'],
 ['65', '72', '887', '480', '3', 'credit_card', '2017-03-02 0:15:05'],
 ['66', '7', '988', '112', '1', 'debit', '2017-03-29 10:22:34'],
 ['67', '66', '743', '322', '2', 'cash', '2017-03-01 10:40:40'],
 ['68', '21', '812', '284', '2', 'debit', '2017-03-03 15:52:53'],
 ['69', '86', '994', '390', '3', 'credit_card', '2017-03-21 22:05:37'],
 ['70', '58', '876', '138', '1', 'debit', '2017-03-04 10:38:49'],
 ['71', '11', '725', '184', '1', 'credit_card', '2017-03-14 17:12:18'],
 ['72', '34', '813', '122', '1', 'credit_card', '2017-03-20 17:43:28'],
 ['73', '86', '960', '130', '1', 'debit', '2017-03-04 14:15:34'],
 ['74', '14', '968', '116', '1', 'cash', '2017-03-22 0:14:48'],
 ['75', '5', '862', '142', '1', 'credit_card', '2017-03-26 9:14:45'],
 ['76', '84', '744', '459', '3', 'cash', '2017-03-06 0:39:27'],
 ['77', '20', '975', '127', '1', 'cash', '2017-03-19 13:05:29'],
 ['78', '41', '985', '354', '3', 'cash', '2017-03-22 13:41:25'],
 ['79', '8', '806', '132', '1', 'credit_card', '2017-03-27 3:39:39'],
 ['80', '20', '838', '254', '2', 'credit_card', '2017-03-03 14:00:25'],
 ['81', '52', '979', '584', '4', 'credit_card', '2017-03-11 14:30:09'],
 ['82', '28', '868', '328', '2', 'debit', '2017-03-04 6:53:29'],
 ['83', '48', '857', '234', '2', 'cash', '2017-03-11 18:14:37'],
 ['84', '100', '817', '111', '1', 'cash', '2017-03-12 22:10:47'],
 ['85', '41', '707', '118', '1', 'debit', '2017-03-30 12:05:30'],
 ['86', '53', '908', '224', '2', 'credit_card', '2017-03-27 20:46:35'],
 ['87', '56', '711', '234', '2', 'credit_card', '2017-03-17 2:08:47'],
 ['88', '64', '713', '399', '3', 'credit_card', '2017-03-04 12:15:16'],
 ['89', '55', '998', '513', '3', 'credit_card', '2017-03-09 13:22:15'],
 ['90', '28', '705', '164', '1', 'cash', '2017-03-11 18:13:28'],
 ['91', '50', '744', '193', '1', 'debit', '2017-03-02 6:36:55'],
 ['92', '3', '835', '296', '2', 'credit_card', '2017-03-09 4:01:51'],
 ['93', '22', '856', '146', '1', 'credit_card', '2017-03-24 11:47:02'],
 ['94', '58', '810', '276', '2', 'debit', '2017-03-07 4:27:06'],
 ['95', '87', '961', '149', '1', 'cash', '2017-03-21 3:20:50'],
 ['96', '35', '975', '328', '2', 'credit_card', '2017-03-01 6:27:42'],
 ['97', '70', '758', '346', '2', 'cash', '2017-03-07 14:57:54'],
 ['98', '92', '850', '180', '2', 'cash', '2017-03-22 19:21:26'],
 ['99', '79', '741', '181', '1', 'debit', '2017-03-16 0:16:22'],
 ['100', '18', '752', '780', '5', 'cash', '2017-03-06 23:41:16'],
 ['101', '77', '972', '156', '1', 'credit_card', '2017-03-17 6:45:49'],
 ['102', '74', '923', '612', '4', 'credit_card', '2017-03-28 11:00:20'],
 ['103', '41', '964', '354', '3', 'cash', '2017-03-17 7:59:24'],
 ['104', '53', '740', '224', '2', 'cash', '2017-03-17 7:29:30'],
 ['105', '54', '803', '532', '4', 'cash', '2017-03-28 5:30:41'],
 ['106', '13', '746', '320', '2', 'cash', '2017-03-16 15:04:15'],
 ['107', '87', '953', '149', '1', 'cash', '2017-03-17 8:03:52'],
 ['108', '12', '732', '201', '1', 'credit_card', '2017-03-21 20:26:18'],
 ['109', '58', '926', '276', '2', 'cash', '2017-03-01 3:15:13'],
 ['110', '58', '774', '414', '3', 'cash', '2017-03-01 10:01:23'],
 ['111', '83', '893', '129', '1', 'cash', '2017-03-27 7:07:46'],
 ['112', '68', '984', '136', '1', 'credit_card', '2017-03-11 9:43:52'],
 ['113', '73', '885', '165', '1', 'debit', '2017-03-06 0:59:39'],
 ['114', '69', '857', '262', '2', 'credit_card', '2017-03-13 21:33:12'],
 ['115', '41', '755', '590', '5', 'cash', '2017-03-20 23:15:09'],
 ['116', '25', '791', '260', '2', 'credit_card', '2017-03-19 21:46:05'],
 ['117', '6', '813', '374', '2', 'debit', '2017-03-10 14:25:17'],
 ['118', '61', '759', '316', '2', 'debit', '2017-03-29 22:43:35'],
 ['119', '84', '789', '153', '1', 'credit_card', '2017-03-05 4:08:32'],
 ['120', '98', '745', '266', '2', 'credit_card', '2017-03-17 20:34:44'],
 ['121', '5', '774', '284', '2', 'credit_card', '2017-03-26 8:16:47'],
 ['122', '13', '958', '480', '3', 'credit_card', '2017-03-22 13:12:59'],
 ['123', '35', '997', '492', '3', 'debit', '2017-03-05 1:16:57'],
 ['124', '24', '949', '280', '2', 'cash', '2017-03-11 1:58:15'],
 ['125', '2', '983', '188', '2', 'credit_card', '2017-03-13 13:07:20'],
 ['126', '49', '884', '258', '2', 'cash', '2017-03-19 3:22:56'],
 ['127', '18', '839', '624', '4', 'debit', '2017-03-09 10:47:22'],
 ['128', '77', '817', '312', '2', 'credit_card', '2017-03-05 18:46:25'],
 ['129', '63', '963', '544', '4', 'debit', '2017-03-25 5:52:51'],
 ['130', '51', '721', '561', '3', 'debit', '2017-03-14 3:54:02'],
 ['131', '75', '723', '256', '2', 'debit', '2017-03-28 6:01:25'],
 ['132', '33', '777', '346', '2', 'debit', '2017-03-13 18:46:55'],
 ['133', '53', '963', '224', '2', 'credit_card', '2017-03-03 2:32:51'],
 ['134', '24', '894', '280', '2', 'credit_card', '2017-03-08 4:56:53'],
 ['135', '86', '845', '390', '3', 'cash', '2017-03-27 9:54:53'],
 ['136', '58', '742', '276', '2', 'debit', '2017-03-19 17:25:58'],
 ['137', '15', '961', '765', '5', 'credit_card', '2017-03-26 5:06:46'],
 ['138', '34', '760', '122', '1', 'debit', '2017-03-30 17:31:02'],
 ['139', '5', '915', '426', '3', 'cash', '2017-03-28 0:09:50'],
 ['140', '55', '789', '513', '3', 'debit', '2017-03-29 16:36:30'],
 ['141', '57', '930', '441', '3', 'debit', '2017-03-15 12:36:14'],
 ['142', '73', '935', '165', '1', 'cash', '2017-03-26 14:23:28'],
 ['143', '80', '855', '145', '1', 'debit', '2017-03-11 1:13:13'],
 ['144', '80', '979', '290', '2', 'debit', '2017-03-30 10:41:49'],
 ['145', '21', '828', '284', '2', 'debit', '2017-03-18 20:13:36'],
 ['146', '72', '906', '640', '4', 'cash', '2017-03-30 9:55:00'],
 ['147', '100', '899', '111', '1', 'debit', '2017-03-05 16:49:00'],
 ['148', '57', '715', '294', '2', 'credit_card', '2017-03-17 7:01:37'],
 ['149', '71', '985', '164', '1', 'credit_card', '2017-03-04 17:21:03'],
 ['150', '100', '847', '222', '2', 'debit', '2017-03-12 21:36:22'],
 ['151', '47', '718', '435', '3', 'credit_card', '2017-03-06 5:24:17'],
 ['152', '16', '755', '156', '1', 'credit_card', '2017-03-03 23:20:40'],
 ['153', '33', '808', '173', '1', 'cash', '2017-03-13 22:14:51'],
 ['154', '64', '942', '266', '2', 'cash', '2017-03-21 7:05:26'],
 ['155', '33', '872', '173', '1', 'debit', '2017-03-29 14:56:49'],
 ['156', '9', '986', '118', '1', 'cash', '2017-03-13 11:07:35'],
 ['157', '84', '734', '306', '2', 'credit_card', '2017-03-04 8:05:10'],
 ['158', '88', '906', '352', '2', 'credit_card', '2017-03-24 5:44:31'],
 ['159', '92', '795', '90', '1', 'credit_card', '2017-03-29 3:07:12'],
 ['160', '73', '725', '330', '2', 'debit', '2017-03-22 18:08:23'],
 ['161', '78', '990', '25725', '1', 'credit_card', '2017-03-12 5:56:57'],
 ['162', '3', '877', '296', '2', 'debit', '2017-03-20 17:07:53'],
 ['163', '93', '913', '228', '2', 'cash', '2017-03-26 23:54:23'],
 ['164', '63', '915', '272', '2', 'debit', '2017-03-01 6:07:29'],
 ['165', '29', '941', '489', '3', 'cash', '2017-03-09 16:26:15'],
 ['166', '44', '921', '144', '1', 'credit_card', '2017-03-26 23:17:06'],
 ['167', '14', '754', '464', '4', 'debit', '2017-03-07 19:47:43'],
 ['168', '56', '913', '468', '4', 'credit_card', '2017-03-11 19:37:56'],
 ['169', '48', '797', '351', '3', 'credit_card', '2017-03-08 6:12:47'],
 ['170', '5', '970', '284', '2', 'debit', '2017-03-24 0:33:57'],
 ['171', '91', '828', '480', '3', 'credit_card', '2017-03-28 8:18:44'],
 ['172', '57', '724', '147', '1', 'debit', '2017-03-17 7:08:48'],
 ['173', '55', '778', '342', '2', 'cash', '2017-03-02 23:54:12'],
 ['174', '7', '956', '224', '2', 'debit', '2017-03-04 11:33:40'],
 ['175', '49', '918', '387', '3', 'debit', '2017-03-13 15:25:20'],
 ['176', '50', '792', '193', '1', 'credit_card', '2017-03-20 13:51:00'],
 ['177', '97', '718', '648', '4', 'cash', '2017-03-16 6:33:41'],
 ['178', '57', '849', '441', '3', 'cash', '2017-03-20 5:20:20'],
 ['179', '30', '849', '153', '1', 'debit', '2017-03-25 4:09:10'],
 ['180', '37', '897', '142', '1', 'debit', '2017-03-02 22:40:59'],
 ['181', '12', '871', '201', '1', 'cash', '2017-03-02 4:37:41'],
 ['182', '20', '823', '127', '1', 'cash', '2017-03-03 16:29:13'],
 ['183', '86', '901', '260', '2', 'credit_card', '2017-03-16 17:47:44'],
 ['184', '26', '920', '176', '1', 'cash', '2017-03-08 0:38:26'],
 ['185', '34', '944', '488', '4', 'debit', '2017-03-24 5:49:03'],
 ['186', '71', '888', '328', '2', 'debit', '2017-03-30 5:46:50'],
 ['187', '93', '749', '228', '2', 'credit_card', '2017-03-06 3:43:29'],
 ['188', '41', '980', '118', '1', 'cash', '2017-03-02 3:13:14'],
 ['189', '17', '734', '176', '1', 'cash', '2017-03-11 10:36:23'],
 ['190', '43', '928', '362', '2', 'debit', '2017-03-30 7:00:14'],
 ['191', '7', '805', '112', '1', 'credit_card', '2017-03-22 5:28:42'],
 ['192', '26', '922', '352', '2', 'cash', '2017-03-17 17:51:54'],
 ['193', '28', '879', '328', '2', 'credit_card', '2017-03-15 14:35:28'],
 ['194', '15', '942', '153', '1', 'cash', '2017-03-13 14:19:30'],
 ['195', '63', '946', '408', '3', 'cash', '2017-03-12 0:07:20'],
 ['196', '37', '745', '426', '3', 'credit_card', '2017-03-01 3:00:39'],
 ['197', '85', '809', '516', '3', 'debit', '2017-03-21 10:58:20'],
 ['198', '19', '960', '326', '2', 'debit', '2017-03-05 20:01:49'],
 ['199', '27', '976', '338', '2', 'credit_card', '2017-03-24 16:25:16'],
 ['200', '56', '961', '117', '1', 'cash', '2017-03-08 22:18:19'],
 ['201', '29', '929', '163', '1', 'credit_card', '2017-03-15 11:12:34'],
 ['202', '31', '967', '258', '2', 'credit_card', '2017-03-04 20:47:48'],
 ['203', '67', '768', '393', '3', 'cash', '2017-03-28 7:25:17'],
 ['204', '36', '785', '260', '2', 'credit_card', '2017-03-22 19:20:31'],
 ['205', '39', '987', '268', '2', 'cash', '2017-03-19 5:09:03'],
 ['206', '89', '747', '588', '3', 'debit', '2017-03-04 4:01:38'],
 ['207', '16', '746', '156', '1', 'cash', '2017-03-09 21:53:32'],
 ['208', '88', '999', '176', '1', 'debit', '2017-03-08 11:30:01'],
 ['209', '88', '771', '176', '1', 'cash', '2017-03-10 5:17:13'],
 ['210', '37', '727', '284', '2', 'debit', '2017-03-20 11:06:15'],
 ['211', '13', '701', '160', '1', 'credit_card', '2017-03-04 8:20:57'],
 ['212', '22', '712', '292', '2', 'credit_card', '2017-03-30 9:40:40'],
 ['213', '88', '787', '352', '2', 'credit_card', '2017-03-13 17:28:23'],
 ['214', '26', '980', '352', '2', 'cash', '2017-03-10 13:59:42'],
 ['215', '54', '742', '399', '3', 'credit_card', '2017-03-27 3:28:24'],
 ['216', '41', '793', '236', '2', 'cash', '2017-03-17 1:55:17'],
 ['217', '32', '862', '202', '2', 'debit', '2017-03-09 16:46:07'],
 ['218', '15', '960', '306', '2', 'credit_card', '2017-03-27 10:44:22'],
 ['219', '75', '978', '256', '2', 'cash', '2017-03-04 7:50:33'],
 ['220', '23', '884', '780', '5', 'credit_card', '2017-03-03 20:11:05'],
 ['221', '21', '994', '142', '1', 'cash', '2017-03-03 4:18:29'],
 ['222', '57', '753', '147', '1', 'debit', '2017-03-23 7:14:27'],
 ['223', '96', '829', '765', '5', 'debit', '2017-03-13 15:16:25'],
 ['224', '68', '767', '272', '2', 'credit_card', '2017-03-07 9:58:58'],
 ['225', '29', '927', '163', '1', 'debit', '2017-03-02 21:18:16'],
 ['226', '98', '734', '133', '1', 'cash', '2017-03-08 21:43:51'],
 ['227', '58', '928', '138', '1', 'cash', '2017-03-18 12:59:14'],
 ['228', '73', '917', '330', '2', 'debit', '2017-03-19 22:59:03'],
 ['229', '92', '757', '90', '1', 'debit', '2017-03-13 23:57:51'],
 ['230', '79', '772', '362', '2', 'cash', '2017-03-28 7:21:29'],
 ['231', '68', '865', '272', '2', 'cash', '2017-03-04 19:40:15'],
 ['232', '27', '730', '338', '2', 'cash', '2017-03-03 5:49:46'],
 ['233', '6', '865', '374', '2', 'cash', '2017-03-08 4:40:15'],
 ['234', '95', '761', '336', '2', 'credit_card', '2017-03-29 1:14:07'],
 ['235', '29', '719', '326', '2', 'cash', '2017-03-22 21:56:31'],
 ['236', '60', '938', '531', '3', 'debit', '2017-03-29 13:49:35'],
 ['237', '92', '837', '180', '2', 'credit_card', '2017-03-18 20:51:12'],
 ['238', '99', '835', '585', '3', 'debit', '2017-03-03 17:45:35'],
 ['239', '2', '932', '188', '2', 'debit', '2017-03-17 0:45:53'],
 ['240', '68', '967', '136', '1', 'cash', '2017-03-09 13:15:18'],
 ['241', '88', '876', '176', '1', 'credit_card', '2017-03-08 18:10:27'],
 ['242', '34', '953', '244', '2', 'debit', '2017-03-01 12:27:25'],
 ['243', '38', '881', '570', '3', 'credit_card', '2017-03-13 19:44:13'],
 ['244', '93', '861', '114', '1', 'credit_card', '2017-03-03 5:19:17'],
 ['245', '32', '928', '202', '2', 'cash', '2017-03-30 9:30:28'],
 ['246', '92', '890', '360', '4', 'cash', '2017-03-18 17:42:29'],
 ['247', '62', '786', '160', '1', 'cash', '2017-03-12 23:19:34'],
 ['248', '26', '854', '176', '1', 'debit', '2017-03-21 19:08:07'],
 ['249', '33', '728', '173', '1', 'cash', '2017-03-29 22:04:06'],
 ['250', '77', '732', '156', '1', 'debit', '2017-03-20 4:20:22'],
 ['251', '96', '932', '306', '2', 'credit_card', '2017-03-14 5:28:21'],
 ['252', '75', '892', '256', '2', 'debit', '2017-03-24 23:34:15'],
 ['253', '76', '746', '310', '2', 'cash', '2017-03-06 15:21:58'],
 ['254', '100', '753', '222', '2', 'debit', '2017-03-04 11:23:18'],
 ['255', '18', '843', '156', '1', 'credit_card', '2017-03-21 0:14:41'],
 ['256', '6', '794', '187', '1', 'cash', '2017-03-18 19:59:35'],
 ['257', '79', '844', '362', '2', 'credit_card', '2017-03-07 20:21:57'],
 ['258', '6', '842', '374', '2', 'credit_card', '2017-03-18 10:12:44'],
 ['259', '75', '760', '512', '4', 'cash', '2017-03-18 8:19:53'],
 ['260', '99', '963', '780', '4', 'credit_card', '2017-03-25 11:41:01'],
 ['261', '52', '830', '146', '1', 'credit_card', '2017-03-13 18:19:48'],
 ['262', '17', '775', '176', '1', 'credit_card', '2017-03-24 14:06:06'],
 ['263', '9', '871', '236', '2', 'debit', '2017-03-17 0:50:38'],
 ['264', '97', '827', '324', '2', 'debit', '2017-03-03 1:06:02'],
 ['265', '16', '950', '780', '5', 'credit_card', '2017-03-24 7:32:42'],
 ['266', '69', '871', '262', '2', 'debit', '2017-03-20 16:59:09'],
 ['267', '12', '879', '201', '1', 'cash', '2017-03-14 12:22:31'],
 ['268', '73', '790', '330', '2', 'credit_card', '2017-03-19 19:03:45'],
 ['269', '56', '733', '234', '2', 'credit_card', '2017-03-07 3:50:19'],
 ['270', '6', '986', '187', '1', 'credit_card', '2017-03-18 20:16:39'],
 ['271', '33', '926', '173', '1', 'debit', '2017-03-17 9:08:57'],
 ['272', '12', '727', '402', '2', 'credit_card', '2017-03-24 22:40:18'],
 ['273', '32', '839', '202', '2', 'debit', '2017-03-14 5:00:11'],
 ['274', '34', '803', '122', '1', 'cash', '2017-03-03 9:05:17'],
 ['275', '5', '967', '426', '3', 'cash', '2017-03-03 7:38:56'],
 ['276', '55', '989', '171', '1', 'credit_card', '2017-03-25 15:16:11'],
 ['277', '49', '777', '129', '1', 'cash', '2017-03-30 21:49:13'],
 ['278', '51', '954', '374', '2', 'credit_card', '2017-03-17 4:59:56'],
 ['279', '54', '763', '266', '2', 'cash', '2017-03-29 5:18:09'],
 ['280', '4', '869', '128', '1', 'credit_card', '2017-03-05 8:27:05'],
 ['281', '90', '807', '534', '3', 'debit', '2017-03-27 23:41:40'],
 ['282', '6', '836', '561', '3', 'debit', '2017-03-14 2:26:26'],
 ['283', '71', '700', '492', '3', 'cash', '2017-03-26 4:43:59'],
 ['284', '9', '772', '354', '3', 'debit', '2017-03-04 13:49:42'],
 ['285', '64', '711', '399', '3', 'debit', '2017-03-11 20:07:53'],
 ['286', '77', '742', '156', '1', 'cash', '2017-03-14 2:40:32'],
 ['287', '58', '860', '414', '3', 'debit', '2017-03-15 21:12:11'],
 ['288', '54', '945', '266', '2', 'credit_card', '2017-03-23 17:42:29'],
 ['289', '47', '806', '290', '2', 'debit', '2017-03-24 17:51:51'],
 ['290', '50', '803', '386', '2', 'debit', '2017-03-30 5:45:50'],
 ['291', '33', '858', '346', '2', 'credit_card', '2017-03-12 8:03:00'],
 ['292', '5', '890', '142', '1', 'credit_card', '2017-03-29 21:22:43'],

In [23]:
# Now to put it into a dataframe
import pandas as pd
column_names = data[0]

# I have set the index and order_id to be the same
df = pd.DataFrame(data[1:], columns=column_names, index=[row[0] for row in data[1:]])
df

     order_id shop_id user_id  ... total_items payment_method           created_at
1           1      53     746  ...           2           cash  2017-03-13 12:36:56
2           2      92     925  ...           1           cash  2017-03-03 17:38:52
3           3      44     861  ...           1           cash   2017-03-14 4:23:56
4           4      18     935  ...           1    credit_card  2017-03-26 12:43:37
5           5      18     883  ...           1    credit_card   2017-03-01 4:35:11
...       ...     ...     ...  ...         ...            ...                  ...
4996     4996      73     993  ...           2          debit  2017-03-30 13:47:17
4997     4997      48     789  ...           2           cash  2017-03-16 20:36:16
4998     4998      56     867  ...           3           cash   2017-03-19 5:42:42
4999     4999      60     825  ...           2    credit_card  2017-03-16 14:51:18
5000     5000      44     734  ...           2          debit  2017-03-18 15:48:18

[5000 rows x 7 columns]

In [32]:
# First instinct is to try and recreate that $3145.13 amount
# Cast as int
df[['order_amount', 'total_items']] = df[['order_amount', 'total_items']].apply(pd.to_numeric)
df.dtypes
df.describe()

        order_amount  total_items
count    5000.000000   5000.00000
mean     3145.128000      8.78720
std     41282.539349    116.32032
min        90.000000      1.00000
25%       163.000000      1.00000
50%       284.000000      2.00000
75%       390.000000      3.00000
max    704000.000000   2000.00000

a. I can see here that the quartiles all look very reasonable, but there is an enormous outlier that should be considered when looking for the average. 
 
 b. Instead, the median would be a much better suited metric for the middle of the data. The median is not influenced by outliers and resists skewness in that regard.   

c. We can see from above that the **median**, or 50th percentile is **$284**

## Question 2: For this question youll need to use SQL. 
Follow this [link](https://www.w3schools.com/SQL/TRYSQL.ASP?FILENAME=TRYSQL_SELECT_ALL) to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

*How many orders were shipped by Speedy Express in total?*

```
SELECT COUNT(ORDERID)
FROM [Orders]
WHERE SHIPPERID = 1
```
RESULT: `54`  

 
*What is the last name of the employee with the most orders?*

```
SELECT LASTNAME FROM [Employees]
WHERE EMPLOYEEID = (
SELECT EMPLOYEEID FROM [Orders]
GROUP BY EMPLOYEEID
ORDER BY COUNT(ORDERID) DESC
LIMIT 1
)
```
LastName: 
`Peacock`  
Here the where condition is answered by another query   


*What product was ordered the most by customers in Germany?*


```
SELECT PRODUCTNAME FROM PRODUCTS
WHERE PRODUCTID = (
SELECT PRODUCTID FROM OrderDetails AS OD
JOIN ORDERS AS O ON O.ORDERID = OD.ORDERID
WHERE CUSTOMERID IN (
SELECT CUSTOMERID FROM [Customers]
WHERE COUNTRY = 'Germany'
)
GROUP BY PRODUCTID
ORDER BY SUM(QUANTITY) DESC LIMIT 1
)
```

ProductName: `Boston Crab Meat`

In this query I first (in order of my personal operations, not the query itself) find which customerids are from Germany, I think look at a Join of Order and OrderDetails to access order amounts and customer ids. Now I can calculate the sum(quantities) for the group by ProductID for customers from Germany. Finally we can lookup what that product is called.